<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estudante</title>

    <style>
        .description{

        }

    </style>

</head>
<body>

<div class="page-title">

</div>

<div class="description">

    <ul>
        <div>
            <p>Escolheu o pacote Estudante por 2000 EUROS</p>
            <p>Este pacote inclui:</p>
            <ul>
                <li>4 touros</li>
                <img src="images/bull.jpeg"/>
            </ul>
        </div>
        <div>
            <ul>
                <li>60 grades de Cerveja Sagres</li>
                <img src="images/sagres.png"/>
            </ul>
        </div>
        <div>
            <ul>
                <li>Palhaços</li>
                <img src="images/palhaço.jpeg"/>
            </ul>
        </div>
        <div>
            <ul>
                <li>3 Carros etnográficos</li>
                <img src="images/carro-etnografo.jpg"/>
            </ul>
        </div>
        <div>
            <ul>
                <li>Todas as licenças aprovadas</li>
                <img src="images/licenca.png"/>
            </ul>
        </div>


    </ul>
</div>

<div>
    <button>Compre</button>
</div>


</body>
</html>
