<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>TOURADAS XPRESS: LOGIN</title>
    <link rel="icon">
    <meta name="keywords" content="touradas, cerveja, diversão, ilha Terceira, Terceira, Açores, Azores">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="stylesheet.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>
</head>
<body>

<!--
<script>
    alert("BEM VINDO À TOURADAS XPRESS\nPARA COMEÇAR A USUFRUIR DO NOSSO SERVIÇO, BASTA CLICAR NO BOTÃO SEGUINTE");
</script>
-->

<!--
<div class="imgbox">
    <img src="img/DSCF0096.JPG" class="center-fit" alt="Responsive image">
</div>
-->
<div class="jumbotron" align="center">
    <h1 class="display-4">TOURADA NUM MINUTO</h1>
    <p class="lead">Quer uma tourada "à moda da ilha Terceira", mas não se quer chatear?
        Basta clicar no botão abaixo e num minuto, tem uma tourada pronta, com licença de fogo, de tourada e requisições
        já incluídas.</p>
    <hr class="my-4">
    <p>Só necessita de um cartão de crédito e nome para completar a sua compra</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">COMPRAR JÁ</a>
</div>

<div id="maincontainer">

    <div id="leftcolumn" class="form" align="center">
        <form action="http://localhost:8000/login_done" method="post">
            <input type="text" name="username"><br>Nome de utilizador</input><br>
            <input type="password" name="password"><br>Password</input><br>
            <input type="checkbox" name="age"/>Tem de aceitar a nossa política de privacidade<br>
            <input type="submit" value="Fazer login"/>
        </form>
    </div>

    <div id="rightcolumn" align="center">
        <form>
            <h3 style="background-color: white">Para se inscrever, preencha os seguintes campos</h3>
            <div class="form-group">
                <label for="exampleInputEmail1"><br>Endereço de e-mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted"><br>Nunca iremos partilhar as suas informações
                </small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"><br>Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submeter</button>
        </form>
    </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<!--
<div id="buynow_button">

    <button class="button">COMPRE JÁ</button>
    <H2>TOURADA SIMPLES</H2>

</div>
-->
<!-- <div align="center" class="video">

    <video controls>
        <source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>
    </video>

</div> -->

<div class="card-footer text-muted">
    <p align="center">XPRESS TEAM © 2018</p>
</div>

</body>
</html>

