<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LowCost</title>

    <style>
        .description{
            margin: 20px 20px;

        }

        p{
            font-size: 100%;

        }
    </style>
</head>
<body>

<div>
    <h1 id="title">Tourada Expresso</h1>
</div>

<div class="description">

    <ul>
        <div>
            <p>Escolheu o pacote Low-Cost, por 866,67 EUROS</p>
            <p>Este pack inclui:</p>
            <ul>
                <li>2 touros completos e 1 só com 3 pernas</li>
                <img src="images/bored-bull.jpg"/>

            </ul>
        </div>

        <div>
            <ul>
                <li>Cerveja fora de prazo</li>
                <img src="images/bad-beer.jpg"/>

            </ul>
        </div>


    </ul>

</div>

<div>
    <button>Compre</button>
</div>

</body>
</html>
