<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Option</title>

    <style>




    </style>

</head>
<body>

<div>
    <h1>Tourada Expresso</h1>
</div>

<div>

    <ul class="options">
        <div>
            <ul>
                <img src="image/estudante"/>
                <button class="button">ESTUDANTE</button>
            </ul>
        </div>

        <div>
            <ul>
                <img src="image/lowcost.jpg"/>
                <button class="button">LOW-COST</button>
            </ul>
        </div>

        <div>
            <ul>
                <img src="images/personalizado.jpg"/>
                <button class="button">PERSOLANIZADO</button>
            </ul>
        </div>

        <div>
            <ul>
                <img src="images/random.jpg"/>
                <button class="button">RANDOM</button>
            </ul>
        </div>

    </ul>

</div>

</body>
</html>