<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random</title>

    <style>
        body{
            background-image: url("https://media.giphy.com/media/3ohhwzIw3bISRhQWME/source.gif");
            background-color: black;
            border: 100%;
        }

        p{
            font-size: 100px;
            padding: 15px 25px;
            width: 100%;
            color: white;
            text-align: center;

        }
    </style>

</head>
<body>

<div class="congrats">

    <p id="text">Congratulations! You've had the balls to choose the surprise!</p>
    <p>Let us know what you thought</p>
</div>

</body>
</html>